* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  
  h1{
    font-size: 1in;
    font-style:oblique;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
  
  }
  h4{
    font-size:medium;
    font-family: serif;
    text-align: center;
  }
  body {
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
    background-color: #9af874;
  }
  #meal-input {
    height: 6vh;
    border: none;
    border-radius: 10px 0 0 10px;
  }
  
  #meal-submit {
    width: 12vh;
    height: 6vh;
    border: none;
    color: #ffffff;
    background-color: #101011;
    border-radius: 0 10px 10px 0;
  }
  #meal-submit:hover {
    color: #74f87f;
  }
  
  #no-meal-found {
    color: #0c0b0c;
    font-weight: bolder;
  }
  

  .cursor {
    cursor: pointer;
  }
  .meal-details-div img {
    width: 100%;
    border-radius: 1em 1em 0 0;
  }
  #meal-details img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }
  #meal-details h2 {
    color:grey;
    font-weight: bold;
  }
  #meal-details p {
    font-weight: 500;
    margin-bottom: 0;
  }
   
  #i{
    float: left;
  }  
  #p{
    float: left;
  }
  #g{
    float: left;
  }
  